<div class="modal fade" id="createAnnouncementModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAnnouncementModalLabel">Create New Announcement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="announcementTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="announcementTitle" required>
                </div>
                <div class="mb-3">
                    <label for="announcementContent" class="form-label">Content</label>
                    <textarea class="form-control" id="announcementContent" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <h6>Associated Items</h6>
                    <div class="itemBadgeList d-flex flex-wrap gap-1 p-2 m-2"></div>
                    <div class="row mb-3">
                        <div class="col-md-4 dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Categories
                            </button>
                            <select class="catalogueCategorySelect form-select dropdown-menu" style="height: 300px;"
                                multiple>
                                <option class="dropdown-item" value="">All Categories</option>
                                <% categories.forEach((category)=> { %>
                                    <option class="dropdown-item" value="<%= category.id %>">
                                        <%= category.name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="catalogueSearch form-control" id="" placeholder="Search items...">
                        </div>
                    </div>
                    <div class="table-responsive" style="max-height: 400px;">
                        <table class="table table-hover">
                            <thead style="top: 0; position: sticky; z-index: 3; background-color: #ffffff;">
                                <tr>
                                    <th>Select</th>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody class="catalogueTableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveAnnouncementBtn">Save Announcement</button>
            </div>
        </div>
    </div>
</div>